body {
	background: #fefefe;
	margin: 0px;
}

h1 {
	font-family: $base-font-family;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 28.4px;
}

h3 {
	font-family: $base-font-family;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26.4px;
}

p {
	font-family: $base-font-family;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 24.4px;
}

blockquote {
	font-family: $base-font-family;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

pre {
	font-family: $base-font-family;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

a {
	font-family: $base-font-family;
	text-decoration:none;

	&,
  &:link {
    color: $cxcolor-darkblue;
    text-decoration: none;
  }

  &:visited {
    color: $cxcolor-darkblue;
    text-decoration: none;
  }

  &:hover {
    color: $cxcolor-blue;
  }

  &:active {
    text-decoration: none;
  }
}

hr {
  height: 1px;
  border: 0;
  display: block;
  border-top: 1px solid $cxcolor-lightblue;
  padding: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
}
