@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Norican);

$default-font-regular: "AvenirNext-Regular";
$default-font-thin: "Avenir-Light";
$default-font-medium: "AvenirNext-Medium";
$default-font-heavy: 'Helvetica Neue', Helvetica, Arial, sans-serif;

* {
font-family: $default-font-heavy;
}
