.header {
  // height: 177px;
  height: 180px;
  position: relative;
}

.site-nav {
  display: block;
  justify-content: space-between;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 34px;
  z-index: 1;
}

.header-site-nav {
  display: block;
  z-index: -1;
  position: relative;
  max-width: 960px;
  width: 80%;
  margin: 0 auto;
  color: $cxcolor-darkblue;

  @include media-query($on-laptop) {
		width: 80%;
	}

	@include media-query($on-palm) {
    width: 100%;
	}
}

.header-site-owner {
  position: absolute;
  top: 8px;
  color: $cxcolor-darkblue;
  font-size: 20px;
}

.header-page-nav {
  float: right;
  position: absolute;
  right: 16px;
  top: 8px;
}

.header-site-title {
  display: block;
  position: relative;
  width: 170px;
  top: 44px;
  color: $cxcolor-darkgray;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;

  &,
  &:link {
    color: $cxcolor-darkgray;
    text-decoration: none;
  }

  &:visited {
    color: $cxcolor-darkgray;
    text-decoration: none;
  }

  &:hover {
    color: $cxcolor-lightblue;
  }

  &:active {
    text-decoration: none;
  }
}

.header-site-description {
  width: 100%;
  position: absolute;
  top: 84px;
  color: $cxcolor-gray;
  font-size: 30px;
  text-align:center;
  font-family: 'Norican', cursive;
}

.header-social-nav {
  display: block;
  width: 100%;
  height: 44px;
  position: relative;
  top: 80px;
  text-align: center;

  $social-button-color-normal: $cxcolor-darkblue;
  $social-button-color-hover: $cxcolor-lightblue;

  .social-button {
    // float: c;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    position: relative;
    font-size: 14px;
    text-align:center;
    vertical-align: middle;
    line-height: 20px;
    color: $social-button-color-normal;
    &,
    &:link {
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
      color: $social-button-color-normal;
    }

    &:hover {
      color: $social-button-color-hover;
    }

    &:active {
      text-decoration: none;
    }
  }

  .github {
    @extend .social-button;
  }

  .twitter {
    @extend .social-button;
  }

  .linkedin {
    @extend .social-button;
  }

  .codementor {
    @extend .social-button;
  }
}

.page-link {
  position: relative;
  color: $cxcolor-darkblue;
  font-size: 16px;
  line-height: 24px;
  padding-left: 16px;
}

.hover-animation {
  -o-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -khtml-transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  -ms-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
